.wrapper {
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;

}

.hero {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.hero h2 {
    background-color: rgb(96, 93, 93);
    max-width: 700px;
    margin: 30px;
    font-size:2em;
    color: white;

}

.hero p {
    background-color: grey;
    max-width: 700px;
    margin: 30px;
    font-size: 18px;
    color: white;
}

.gallery h2 {
    max-width: 100%;
    text-align: center;
}

.gallery-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.gallery-images img {
    max-width: 100%;
    width: 400px;
    height: 200px;
    object-fit: cover;
}

.footer ol {
    display: flex;
    flex-direction: row;

    justify-content: unsafe center;

}

.footer li {
    list-style-type: none;
    margin: 15px;
}


